.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
#fp-nav{
    position: fixed;
    z-index: 100;
    margin-top: -37px !important;
    top:31%;
    opacity:1;
    display:none;
}
#fp-nav.left {
    left: 40px;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width:20px;
    height:20px;
    margin:24px 0;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width:20px;
    height:20px;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    display: block;
    opacity: 0;
    overflow: visible;
}
#fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.left {
    left:0;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 0;
}
#fp-nav ul li:first-child,#fp-nav ul li:nth-child(4){
    display: none;
}
#fp-nav ul li a.active + .fp-tooltip::before{
    content: '';
    width: 500px;
    height: 1px;
    background: #fff;
    position: absolute;
    right: 150%;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
}
/*business*/
#dowebok .business .business_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#dowebok .business .business_bg > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#dowebok .business .business_bg .bg1{
    background: url(../images/business/business_bg1.jpg) center center / cover no-repeat;
    opacity: 1;
    display: block;
}
#dowebok .business .business_bg .bg2{
    background: url(../images/business/business_bg2.jpg) center center / cover no-repeat;
    opacity: 1;
}
#dowebok .business .business_bg .bg3{
     background: url(../images/business/business_bg3.jpg) center center / cover no-repeat;
     opacity: 1;
 }
#dowebok .business .business_bg .bg4{
      background: url(../images/business/business_bg4.jpg) center center / cover no-repeat;
      opacity: 1;
}
#dowebok .business .business_bg .bg5{
       background: url(../images/business/business_bg5.jpg) center center / cover no-repeat;
       opacity: 1;
}
#dowebok .business .produce_wrap{
    padding-top:90px;
    z-index:1;
}
#dowebok .business .produce_wrap .produce{
    width: 640px;
    margin: auto;
    color: #fff;
}
#dowebok .business .produce_wrap .produce h3{
    font-size: 48px;
    line-height: 48px;
    font-family: 'AR';
}
#dowebok .business  .container .content{
    width: 80%;
    max-width: 1120px;
    margin: 24px auto 0;
}
#dowebok .business  .container .content .left {
    width: calc(64% - 20px);
    margin-right: 20px;
}
#dowebok .business  .container .content .left .top a .bg1{
    background: rgba(84, 88, 90, 0.9);
}
#dowebok .business  .container .content .left .top a .bg2{
    background: url(../images/business/produce_bg.png) center / cover no-repeat;
}
#dowebok .business  .container .content .left .top a.active .bg2{
    background: url(../images/business/produce_bg.png) center / cover no-repeat;
    display: block;
}
#dowebok .business  .container .content .top a{
    display: block;
    width:80%;
}
#dowebok .business  .container .content a .outer{
    width: 100%;
    height: 0;
    padding-top: 48%;
}
#dowebok .business  .container .content a .outer .inner{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#dowebok .business  .container .content .top a .bg{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#dowebok .business  .container .content .text{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
#dowebok .business  .container .content .top .text p{
    font-size: 24px;
    color: #fff;
    margin-top: 32px;
}
#dowebok .business  .container .content .bottom{
    margin-top: 20px;
}
#dowebok .business  .container .content .bottom > a:first-child{
    width: calc(40% - 20px);
    margin-right: 20px;
}
#dowebok .business  .container .content .bottom > a:last-child{
    width: 60%;
}
#dowebok .business  .container .content .left .bottom a .bg{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#dowebok .business  .container .content .left .bottom a:first-of-type .bg1{
    background: rgba(84, 88, 90, 0.9);
}
#dowebok .business  .container .content .left .bottom a:last-of-type .bg1{
    background: rgba(255, 255, 255, 0.9);
}
#dowebok .business  .container .content .left .bottom a .bg2{
    background: url(../images/business/produce_bg.png) center / cover no-repeat;
}
#dowebok .business  .container .content .left .bottom a.active .bg2{
    background: url(../images/business/produce_bg.png) center / cover no-repeat;
    display: block;
}
#dowebok .business  .container .content .left .bottom a .text p{
    font-size: 18px;
    margin-top: 18px;
}
#dowebok .business  .container .content .left .bottom a:first-child .text p{
    color: #fff;
}
#dowebok .business  .container .content .left .bottom a:last-child .text p{
    color: #54585a;
}
#dowebok .business  .container .content .right{
    width: 36%;
}
#dowebok .business  .container .content .right  a .bg{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#dowebok .business  .container .content .right .top a{
    bottom: 0;
    width: 100%;
}
#dowebok .business  .container .content .right .top a .bg1{
    background: rgba(255, 255, 255, 0.9);
}
#dowebok .business  .container .content .right .top a .bg2{
    background: url(../images/business/produce_bg.png) center / cover no-repeat;
}
#dowebok .business  .container .content .right .top a.active .bg2{
    background: url(../images/business/produce_bg.png) center / cover no-repeat;
    display: block;
}
#dowebok .business  .container .content .right .top a .text p{
    font-size: 18px;
    margin-top: 18px;
    color: #595656;
}
#dowebok .business  .container .content .right .bottom a .bg1{
    background: rgba(84, 88, 90, 0.9);
}
#dowebok .business .container .content .right .bottom > a:last-child{
    width: 75%;
}
#dowebok .business  .container .content .right .bottom a .bg2{
    background: url(../images/business/produce_bg.png) center / cover no-repeat;
}
#dowebok .business  .container .content .right .bottom a.active .bg2{
    background: url(../images/business/produce_bg.png) center / cover no-repeat;
    display: block;
}
#dowebok .business  .container .content .right .bottom .text p{
    font-size: 18px;
    color: #fff;
    margin-top: 18px;
}
@media (max-width:1366px){
    #dowebok .business .produce_wrap .produce h3{
        font-size: 32px;
    }
}
@media (max-height: 780px){
    #dowebok .business .produce_wrap .produce h3{
        line-height: 54px;
        margin-bottom: 5px;
    }
}
#dowebok .business .produce_wrap .produce h4{
    font-size: 30px;
}
#dowebok .business .produce_wrap .produce h6{
    font-size: 18px;
    line-height: 34px;
}
#dowebok .business .produce_wrap .produce h6 strong:first-child{
    font-size: 24px;
}
/*business_xs*/
#dowebok .business_xs{
    padding-bottom: 40px;
    background: #000;
}
#dowebok .business_xs .text{
    padding: 30px 3% 0;
    width: 100%;
    color: #fff;
}
#dowebok .business_xs .text h3{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 5px;
    font-family: 'AR';
}
#dowebok .business_xs .text h4{
    font-size: 15px;
}
#dowebok .business_xs .text h6{
    margin-top: 16px;
    font-size: 12px;
    line-height: 24px;
}
#dowebok .business_xs .text h6 strong{
    font-size: 16px;
}
#dowebok .business_xs .business_xs_left{
    width: calc(50% - 8px);
    margin-right: 16px;
}
#dowebok .business_xs .business_xs_right{
    width: calc(50% - 8px);
}
#dowebok .business_xs .text h6 strong:first-child{
    font-size: 24px;
}
#dowebok .business_xs .container{
    margin-top: 20px;
}
#dowebok .business_xs .health  h4{
    font-size: 16px;
    margin-top: 5px;
    color: #fff;
    opacity: 0.9;
    color: #fff;
}
#dowebok .business_xs .health  h5{
    font-family: Arial;
    font-size: 12px;
    color: #595656;
}
#dowebok .business_xs .health a .bg{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 60px;
    line-height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#dowebok .business_xs .health a{
    overflow: hidden;
}
#dowebok .business_xs .health a.mt{
    margin-top: 20px;
}
#dowebok .business_xs .health a > img{
    transition: .5s;
}
#dowebok .business_xs .health a:hover > img{
    transform: scale(1.2,1.2);
}
#dowebok .business_xs .health a .bg img{
    width: 26px;
}
@media (max-height: 860px){
    #dowebok .business .produce_wrap .produce h4{
        margin-top: 0;
    }
    #dowebok .business .produce_wrap .produce h6{
        margin-top: 16px;
    }
}
@media (max-height: 780px){
    #dowebok .business .produce_wrap .produce h3{
        line-height: 54px;
        margin-bottom: 5px;
    }
}
@media (max-width: 768px){
    #dowebok .business .produce_wrap .produce h3{
        font-size: 24px;
        line-height: 32px;
    }
    #dowebok .business .produce_wrap .produce h4{
        font-size: 15px;
        font-weight: bold;
    }
    #dowebok .business .produce_wrap .produce h6{
        font-size: 12px;
        line-height: 24px;
    }
}
@media (min-width:1080px){
    #dowebok .business .produce_wrap .produce h6{
        margin-bottom:50px;
    }
    #dowebok .business .produce_wrap .produce h6 .h{
        display: none;
    }
}
@media (min-width:1295px){
    #dowebok .business .produce_wrap .produce h6{
        margin-bottom: 5px;
        font-size: 15px;
        margin-top: 0;
    }
    #dowebok .business .produce_wrap .produce h3{
        margin-bottom: 0;
    }
}
@media (max-width:768px){
    .headerFp{
        display: none;
    }
    .fp-nav{
        display: none;
    }
}
/*global*/
.global_wrap{
    height: 100vh;
}
.global_wrap .global .tex{
    left: 0;
    right: 0;
    top: 200px;
    z-index:9;
}
.global_wrap .global .tex a > h3{
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    font-family: 'AR';
}
.global_wrap .global .tex a > h4{
    font-size: 30px;
    color: #fff;
}
@media (max-height: 860px){
    .global_wrap .global .text h4{
        margin-top: 0;
    }
}
@media (max-width: 1366px){
    .global_wrap .global .text h3{
        font-size: 32px;
    }
}
@media (max-height: 780px){
    .global_wrap .global .tex{
        margin-bottom: 60px;
    }
    .global_wrap .global .tex h3{
        line-height: 54px;
        margin-bottom: 5px;
    }
}
@media (max-height: 860px){
    .global_wrap .global .tex{
        min-width: 640px;
    }
}
.global_wrap .global .global_inner{
    width: 33.33%;
    height: 100vh;
}
.global_wrap .global .global_inner a{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.global_wrap .global .global_inner a img{
    width: 100%;
    height: 100%;
}
.global_wrap .global .global_inner a video{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
    display: inline-block;
    vertical-align: baseline;
    z-index:1;
    opacity:0;
}
.global_wrap .global .global_inner .text{
    top: 49.5%;
    left: 0;
    right: 0;
    z-index: 2;
}
.global_wrap .global .global_inner .text h3{
    line-height: 36px;
    color: #fff;
    font-size: 30px;
}
.global_wrap .global .global_inner .text h6{
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.global_wrap .global .global_inner .text p{
    display: block;
    margin: 200px auto 0;
    overflow: hidden;
    position: relative;
    width: 190px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.global_wrap .global .global_inner .text p::before {
    content:'了解更多';
    z-index: 1;
    position: absolute;
    left: 0;
    color: #333;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}
.global_wrap .global .global_inner .text p::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 140%;
    background: #fff;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transform: translateX(-100%) skew(0deg);
    -webkit-transform: translateX(-100%) skew(0deg);
    -moz-transform: translateX(-100%) skew(0deg);
    -ms-transform: translateX(-100%) skew(0deg);
    -o-transform: translateX(-100%) skew(0deg);
}
.global_wrap .global .global_inner:hover .text p::before {
    opacity: 1;
}
.global_wrap .global .global_inner:hover .text p::after {
    opacity: 1;
    transform: translateX(10%) skew(-20deg);
    -webkit-transform: translateX(10%) skew(-20deg);
    -moz-transform: translateX(10%) skew(-20deg);
    -ms-transform: translateX(10%) skew(-20deg);
    -o-transform: translateX(10%) skew(-20deg);
}
.global_wrap .global .global_inner .text p span {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    z-index: 1;
    display: block;
    opacity: 1;
}
.global_wrap .global .global_inner .text p:hover span {
    opacity: 0;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
/*global_xs*/
.global_xs{
    background: #282828;
    padding: 30px 0;
}
.global_xs h3{
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}
.global_xs > span{
    font-size: 15px;
    color: #fff;
    margin-bottom: 35px;
}
.global_xs ul li{
    width: 100%;
    height: 25vh;
    margin-bottom: 25px;
    cursor: pointer;
}
.global_xs ul li a img{
    width: 40px;
}
.global_xs ul li a h3{
    font-size: 16px;
    line-height: 36px;
    color: #fff;
}
.global_xs ul li a h6{
    font-size: 12px;
    color: #fff;
}
.global_xs ul li:first-of-type{
    background: url(../images/global/gobal_bd1_xs.jpg) no-repeat;
}
.global_xs ul li:nth-of-type(2){
    background: url(../images/global/gobal_bd2_xs.jpg) no-repeat;
}
.global_xs ul li:last-of-type{
    background: url(../images/global/gobal_bd3_xs.jpg) no-repeat;
}
/*search*/
.search_wrap{
    width: 100%;
    background-color:#54585a;
}
.search_wrap .search{
    width: 100%;
    max-width: 860px;
    margin: auto;
    padding: 40px 0;
}
.search_wrap .search h4{
    font-size: 20px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.search_wrap .search .select .select_left{
    width: 34%;
}
.search_wrap .search .select .select_left h5{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
.search_wrap .search .select .select_left h6{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-top: 8px;
}
.search_wrap .search .select .select_left h6 label{
    display: inline-block;
    width: 16px;
    height: 16px;
    background:#fff;
    margin-right: 5px;
    top: 3px;
}
.search_wrap .search .select .select_left h6 label span{
    background: #ea5404;
    width: 8px;
    height: 8px;
    line-height: 16px;
    display: none;
}
.search_wrap .search .select .select_right{
    width: 66%;
    overflow: hidden;
}
.search_wrap .search .select .select_right input{
    width: 100%;
    background: transparent;
    border: 2px solid #fff;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    font-style: italic;
    padding: 0 20px;
    color: #aaa;
}
.search_wrap .search .select .select_right input::-webkit-input-placeholder{
    color:#acadaf;
}
.search_wrap .search .select .select_right .button_search{
     right: 0;
     top: 0;
     width: 56px;
     height: 56px;
     background: #fff;
     line-height: 56px;
     cursor: pointer;
    z-index:2;
 }
.search_wrap .search .select .select_right .button_search:before{
    content: '';
    position: absolute;
    left:-2px;
    top: 0;
    background: #fff;
    width: 50px;
    height: 80px;
    -webkit-transform: rotateZ(10deg) scaleX(0.5) translateX(-40px);
    -moz-transform: rotateZ(10deg) scaleX(0.5) translateX(-40px);
    -o-transform: rotateZ(10deg) scaleX(0.5) translateX(-40px);
    transform: rotateZ(10deg) scaleX(0.5) translateX(-40px);
    z-index:1;
}
@media (max-width:875px){
    .search_wrap .search .select .select_left{
        width: 36%;
        padding-left: 2%;
    }
    .search_wrap .search .select .select_right{
        width: 63%;
    }
}
@media (max-width:820px){
    .search_wrap .search .select .select_left{
        width: 38%;
    }
    .search_wrap .search .select .select_right{
        width: 60%;
    }
}
@media (max-width:780px){
    .search_wrap .search .select .select_left{
        width:40%;
    }
    .search_wrap .search .select .select_right{
        width:58%;
    }
}
@media (max-width:768px){
    .search_wrap .search .select .select_left,
    .search_wrap .search .select .select_right{
        float: none;
    }
    .search_wrap .search .select .select_left{
        width: 100%;
        margin-bottom: 18px;
    }
    .search_wrap .search h4{
        font-size: 16px;
    }
    .search_wrap .search .select .select_left h5{
        font-size: 14px;
        text-align: center;
    }
    .search_wrap .search .select .select_left h6{
        font-size: 12px;
        text-align: center;
    }
    .search_wrap .search .select .select_right{
        width: 75%;
        margin: 0 auto;
    }
    .search_wrap .search .select .select_right input{
        border: 1px solid #fff;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        font-style: italic;
        padding: 0 10px;
        color: #aaa;
    }
    .search_wrap .search .select .select_right .button_search{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .search_wrap .search .select .select_right .button_search img{
        width: 15px;
    }
    .search_wrap .search .select .select_right .button_search:before{
        width: 30px;
    }
}
/*trend*/
.trend_wrap{
    width: 100%;
    height: 100%;
    background: url(../images/trend/bg.jpg) right top / cover no-repeat;
    top:0;
}
.trend .container .text  h3{
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    font-family: 'AR';
}
.trend .container .text  h4{
    font-size: 30px;
    color: #fff;
}
@media (max-height: 860px){
    .trend .container .text  h4{
        margin-top: 0;
    }
}
@media (max-width: 1366px){
    .trend .container .text  h3{
        font-size: 32px;
    }
}
@media (max-height: 780px){
    .trend .container .text{
        margin-bottom: 60px;
    }
    .trend .container .text h3{
        line-height: 54px;
        margin-bottom: 5px;
    }
}
@media (max-height: 860px){
    .global_wrap .global .tex{
        min-width: 640px;
    }
}
.trend .container ul li{
    width: calc(33.33% - 16px);
    margin-right: 24px;
}
.trend .container ul li:last-of-type{
    margin-right: 0;
}
.trend .container ul li p{
    padding: 10px 10px 10px 40px;
    font-size: 14px;
    color: #999;
    background:#fff url(../images/trend/goright.png) no-repeat 20px center;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.trend .container ul li:hover p{
    background-position:25px center;
}
.trend .container ul li .img{
    overflow: hidden;
}
.trend .container ul li .img img{
    transition: .5s;
}
.trend .container ul li:hover .img img{
    transform: scale(1.2,1.2);
}
.trend .container ul li p span{
    display: block;
    font-size: 14px;
    color: #999;
    /*显示三个点*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    height: 24px;
    text-align: left;
}
.trend .container > a{
    overflow: hidden;
    width: 190px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin:30px auto 0;
}
.trend .container > a:before{
    content:'了解更多';
    z-index: 1;
    position: absolute;
    left: 0;
    color: #333;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}
.trend .container > a:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 140%;
    background: #fff;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transform: translateX(100%) skew(0deg);
    -webkit-transform: translateX(-100%) skew(0deg);
    -moz-transform: translateX(-100%) skew(0deg);
    -ms-transform: translateX(-100%) skew(0deg);
    -o-transform: translateX(-100%) skew(0deg);
}
.trend .container > a:hover::before{
    opacity: 1;
}
.trend .container > a:hover::after{
    opacity: 1;
    transform: translateX(10%) skew(-20deg);
    -webkit-transform: translateX(10%) skew(-20deg);
    -moz-transform: translateX(10%) skew(-20deg);
    -ms-transform: translateX(10%) skew(-20deg);
    -o-transform: translateX(10%) skew(-20deg);
}
/*trend_xs*/
.trend_xs{
    background: url(../images/trend/bg.jpg) no-repeat right top / cover ;
    padding-bottom: 30px;
}
.trend_xs>h3{
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-family: 'AR';
    padding-top: 30px;
}
.trend_xs>h4{
    font-size: 15px;
    color: #fff;
}
.trend_xs .swiper-slide .img{
    overflow: hidden;
}
.trend_xs .swiper-slide .img img{
    width: 100%;
    transition: .5s;
}
.trend_xs .swiper-slide:hover  .img img{
    transform: scale(1.2,1.2);
}
.trend_xs .swiper-slide .text h6{
    font-size: 14px;
    color: #999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height:44px;
    height:44px;
    text-indent: 50px;
    background: #fff url(../images/trend/goright.png) no-repeat 25px center;
    transition: .5s;
}
.trend_xs .swiper-slide:hover .text h6{
    background-position: 30px center;
}
@media (max-width:768px){
    .trend_xs .swiper2{
        width: 100%;
        margin-top: 20px;
    }
}
.trend_xs .container > a{
    overflow: hidden;
    width: 190px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin:30px auto 0;
}
.trend_xs .container > a:before{
    content:'了解更多';
    z-index: 1;
    position: absolute;
    left: 0;
    color: #333;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}
.trend_xs .container > a:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 140%;
    background: #fff;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transform: translateX(100%) skew(0deg);
    -webkit-transform: translateX(-100%) skew(0deg);
    -moz-transform: translateX(-100%) skew(0deg);
    -ms-transform: translateX(-100%) skew(0deg);
    -o-transform: translateX(-100%) skew(0deg);
}
.trend_xs .container > a:hover::before{
    opacity: 1;
}
.trend_xs .container > a:hover::after{
    opacity: 1;
    transform: translateX(10%) skew(-20deg);
    -webkit-transform: translateX(10%) skew(-20deg);
    -moz-transform: translateX(10%) skew(-20deg);
    -ms-transform: translateX(10%) skew(-20deg);
    -o-transform: translateX(10%) skew(-20deg);
}
#video_model {
    position: fixed;
    z-index:100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}
#video_model .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: block !important;
    cursor: pointer;
}
/*video_model*/
#video_model .video {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width:60%;
    max-width: 960px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
    background: #252525;
}
#video_model .video_inner {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    position: relative;
}
#video_model .video_inner video {
    display: block;
    width: 100%;
    outline: none;
}
#video_model .video_inner .video_inner_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
#video_model .video_inner .video_inner_mask img {
    cursor: pointer;
}
@media (max-height: 780px){
    .global_xs > h3{
        margin-bottom: 5px;
    }
}
@media (max-width: 768px){
    .global_xs > h3{
        font-family: 'AR';
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 5px;
    }
}