.detail .container .detail_content > h4{
    display: inline-block;
    background: #ea5404;
    color: #fff;
    padding: 6px 20px;
}
.detail .container .detail_content .clearfix .left50{
    width: calc(50% - 10px);
}
.detail .container .detail_content .clearfix .left50:first-of-type{
    margin-right: 10px;
}
.detail .container .detail_content .clearfix .left50:last-of-type{
    margin-left: 10px;
}